<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <span class="logo">Мероприятия и достопримичательности</span>
        <nav>
            <a href="/">Главная</a>
            <a href="/contacts">Регестрация </a>
            <a href="https://yandex.ru/maps/39/rostov-na-donu/category/landmark_attraction/89683368508/?ll=39.719769%2C47.216840&sctx=ZAAAAAgBEAAaKAoSCWhaYmU03ENAEZ%2BUSQ1tnEdAEhIJZMqHoGr01D8RbCIzF7g8yD8iBgABAgMEBSgKOABAh80GSAFqAnJ1nQHNzEw9oAEAqAEAvQFjOhZEwgGTAaK%2B6I%2FAAumx%2Bek9lb%2F79coDm4DcwIkCq6bg0oMB98bwkMYFwIbN1KwGxN%2Fes5UC%2Bpz12awB1oHxm4ABqZ%2F37UGR0fTljATFoqis6wGNrMzghAKH3P7mjwTfjeOYhga525G7iwPN1K7iIK3DysKyBZnbvvCCB8TY1oXGA6vhh67wBMP4u%2FuDBNT0kpWdBOPa4OTKA%2BoBAPIBAPgBAIICGWNhdGVnb3J5X2lkOig4OTY4MzM2ODUwOCmKAgs4OTY4MzM2ODUwOJICAJoCDGRlc2t0b3AtbWFwcw%3D%3D&sll=39.719769%2C47.216840&sspn=0.119133%2C0.049942&z=14">Карта достопримечательностей </a>
            
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    
    
    <footer>Все права защищены</footer>
</body>
</html>
