@{
    ViewData["Title"] = "Главная страница";
}

<body>
<fon>    
      
        <div class="wrapper">
            <aside> А вы знаете все достопримечательности Вашего города?  </aside>
            <main>Когда Вы в последний раз ходили в театр или музей? Наше приложение созданно специально для Вас, что бы вы могли наслаждаться красотами своего города и узнавать о нем новое.За посещение некторорых мероприятий вы даже сможете получить приятный бонус.</main>
        </div>
        <hr />
    <h1>Достопримечательности </h1>
    <div class="block_1">
        <div class="block_2">
            <p>Тачанка-ростовчанка — монумент, посвящённый Первой Конной Армии в годы Гражданской войны. Расположен на южном въезде в Ростов-на-Дону. Памятник открыт в 1977 году в честь 60-летия Октябрьской революции. Выполнен из гипса, сверху покрыт листовой медью, внутри — полый. Общая высота сооружения — 15 м.</p>
        </div>
    </div>
    <div class="block_3">
        <div class="block_4">
            <p> Собор Рождества Пресвятой Богородицы — православный храм в Ростове-на-Дону, кафедральный собор Донской митрополии и Ростовской-на-Дону епархии Русской православной церкви, памятник архитектуры. Храм был заложен 20 февраля 1781 года, а освящён 5 сентября 1781 года.</p>
        </div>
    </div>
    <div class="block_5">
        <div class="block_6">
            <p> Памятник-стела «Воинам-освободителям г. Ростова-на-Дону от немецко-фашистских захватчиков» — возведён на центральной площади Ростова-на-Дону в честь освобождения города от нацистских войск. Торжественное открытие памятника состоялось 8 мая 1983 года.</p>
           
        </div>
    </div>
    <div class="block_7">
        <div class="block_8">
            <p> Парамоновские склады — комплекс складских сооружений XIX века в Ростове-на-Дону. Расположены на берегу Дона, между проспектом Соколова и Университетским переулком. Памятник федерального значения.Все корпуса Парамоновских складов представляют собой на текущий момент руины, украшенные озёрами и водопадами родниковой воды, продолжающей бить ключами с береговых склонов Дона.</p>
        </div>
    </div>
    <h1>Мероприятия</h1>
    <div class="block_9">
        <div class="block_10">
            <p>
                Опера «Фауст»
                г. Ростов-на-Дону, ул. Большая Садовая, д. 134-140,
                Опера в четырех действиях.
            </p>
            <a href="#" class="button7">купить билет</a>
        </div>
    </div>
    <div class="block_11">
        <div class="block_12">
            <p>
                Выставка «Русское искусство XVII–XIX вв.»
                г. Ростов-на-Дону, ул. Пушкинская, д. 115,
                Живопись и древнерусская иконопись, которая отражает тенденции развития иконописи позднего период.
            </p>
            <a href="#" class="button7">купить билет</a>
        </div>
    </div>
    <div class="block_13">
        <div class="block_14">
            <p>
                    Опера «Хованщина»
                    г. Ростов-на-Дону, ул. Большая Садовая, д. 134-140,
                    Народная музыкальная драма в трех действиях.
            </p>
            <a href="#" class="button7">купить билет</a>
        </div>
    </div>
    <div class="block_15">
        <div class="block_16">
            <p>
                    Выставка «Западноевропейское искусство. Барокко»
                    г. Ростов-на-Дону, пр-кт. Чехова, д. 60,
                    Представлено искусство стран Италии, Фландрии и Голландии.
            </p>
            <a href="#" class="button7">купить билет</a>
        </div>
    </div>
</fon>
</body>